<pnp-accordion>
	<ng-container accordion-header>
		<p class="accordion-trigger">Trigger Accordion</p>
	</ng-container>
	<div accordion-body>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda nulla itaque vel deserunt quos.
			Expedita.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda nulla itaque vel deserunt quos.
			Expedita.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda nulla itaque vel deserunt quos.
			Expedita.
		</p>
	</div>
</pnp-accordion>
