<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" [routerLink]="['/']">ngx-plug-n-play</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<a class="nav-link" [routerLink]="['/']">Home</a>
			</li>
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<a class="nav-link" [routerLink]="['/typeahead-demo']">Typeahead Demo</a>
			</li>
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<a class="nav-link" [routerLink]="['/alerts-toaster-demo']">Alerts Toaster Demo</a>
			</li>
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<a class="nav-link" [routerLink]="['/accordion-demo']">Accordion Demo</a>
			</li>
		</ul>
	</div>
</nav>
