<h1>Dropdown Demo</h1>
<div class="dropdown-container">
	<pnp-dropdown
		(updateShowResults)="showDropdownResults = $event"
		[closeOnOuterClick]="true"
		(dropdownItemSelected)="selectedItemUpdated($event)"
	>
		<button class="btn btn-primary" #dropdownTrigger dropdown-trigger>{{ triggerText }}</button>
		<ul #dropdownOptions dropdown-options [class.open]="showDropdownResults">
			<ng-template ngFor let-item [ngForOf]="dropdownItems" let-i="index">
				<li *ngIf="!selectedItem || selectedItem.index !== i">{{ item }}</li>
			</ng-template>
		</ul>
	</pnp-dropdown>
</div>
